{% extends 'base.html' %}

{% block content %}
    <h3>Продукты в заказе</h3>
{% for product in products %}
    <p>Название :{{ product.product.name }}</p>
    <p>Количество: {{ product.quantity }}</p>
    <p>Магазин: {{ product.product.shop.shop_name}}</p>
    <p>Статус: {{ product.shipment.status.get_status_display }}</p>
    <p>Доставка: {{ product.shipment.shipment_company_name }}</p>
    <p>Стоимость доствки: {{ product.shipment.shipment_cost }}</p>
    {% if request.user.profile_type == 2 %}
        <a href="{% url 'shipment_update' product.shipment.id %}">Edit shipment</a>
        <br>
        <a href="{%  url 'status_update'  product.shipment.status.id %}">Edit status</a>
    {% endif %}
    <hr>
{% endfor %}
{% endblock %}