{% extends 'base.html' %}

{% block content %}
    <h1>Товары в вашем заказе</h1>
{% for product in products %}
{#    <p>{{ product.name }}</p>#}
{#    <p>{{ product.productinbasket.quantity}}</p>#}
{% endfor %}


<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id=q{{ products.first.id }}-list" data-toggle="list" href="#q{{ products.first.id }}" role="tab" aria-controls="{{ products.first.id }}">{{ products.first.name }}</a>
        {% for product in products|slice:"1:" %}
            <a class="list-group-item list-group-item-action" id="q{{ product.id }}-list" data-toggle="list" href="#q{{ product.id }}" role="tab" aria-controls="{{ product.id }}">{{ product.name }}</a>
        {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="q{{ products.first.id }}" role="tabpanel" aria-labelledby="{{ products.first.id }}">
                <p><em>Опписание: {{ products.first.description }}</em></p>
                <p><em>Цена с учетом количества: ₽{{ products.first.products_in_basket.first.get_total_price }}</em></p>
                <p>Количество: {{ products.first.products_in_basket.first.quantity }}</p>
            </div>
        {% for product in products|slice:"1:" %}
            <div class="tab-pane fade" id="q{{ product.id }}" role="tabpanel" aria-labelledby="{{ product.id }}">
                <p><em>Опписание: {{ product.description }}</em></p>
                <p><em>Цена с учетом количества: ₽{{ product.products_in_basket.first.get_total_price }}</em></p>
                <p>Количество: {{ product.products_in_basket.first.quantity }}</p>
            </div>
        {% endfor %}
    </div>
  </div>
</div>


    <h1>Ваш адрес доставки</h1>
    <p>Страна: {{ address.country }}</p>
    <p>Регион: {{ address.region }}</p>
    <p>Город: {{ address.city }}</p>
    <p>Улица: {{ address.street }}</p>
    <p>Дом: {{ address.building }}</p>
    {% if address.flat is not None %}
        <p>Квартира: {{ address.flat }}</p>
    {% endif %}
    <p>Индекс: {{ address.index }}</p>

    <form method="post" action="{% url 'create_order' %}">{% csrf_token %}
        {% if products is not None %}
                <button type="submit" class="btn btn-success">Заказать!</button>
        {% endif %}
    </form>
{% endblock %}