{% extends 'base.html' %}

{% block content %}
{% for order in object_list %}
    <p>Дата заказа: {{ order.create_date }}</p>
    <br>
    <a href="{% url 'order_detail' order.id %}">Подробнее</a>
    <hr>
{% endfor %}
{% endblock %}