<a href="{% url 'thread_index' %}">На главную</a>
{% for post in posts %}
    <p id="post{{ post.id }}"><i>posted on </i>{{ post.published_date }}</p>
    {% if post.reply_to.id %}
        <p>
            <a href="#post{{ post.reply_to.id }}">&gt;&gt;&gt;{{ post.reply_to.id }}</a>
        </p>
    {% endif %}
    <p>{{ post.id }}: {{ post.text }}</p>
    <form action="/reply/{{ post.id }}/" method="GET">
        <input id="{{ post.id }}" type="hidden" name="id" value="{{ post.id }}">
        <button>reply</button>
    </form>
    <p>
        <b>
            {% for r in post.replies.all %}
            <a href="#post{{ r.id }}">&gt;&gt;&gt;{{ r.id }}</a>
            &nbsp;
            {% endfor %}
        </b>
    </p>
    <hr/>
{% endfor%}

{#<form action="/add/" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="submit">#}
{#</form>#}
