<style>
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
</style>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  {% if request.user.is_authenticated%}
      {% if request.user.avatar.url is not None %}
          <img src="{{ request.user.avatar.url }}" class="rounded-circle my-0 mr-md-3" alt="Avatar" width="50" height="50">
      {% endif %}
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Hello, {{ request.user.first_name }}</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="{% url 'product_list' %}">Все товары</a>
        <a class="p-2 text-dark" href="{% url 'order_list' request.user.pk %}">Мои заказы</a>
        <a class="p-2 text-dark" href="{% url 'profile_update' request.user.pk %}">Редактировать профиль</a>
        {% if request.user.address is not none%}
            <a class="p-2 text-dark" href="{% url 'address_update' request.user.address.pk %}">Редактировать аддрес</a>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'address_create' request.user.pk%}">Добавить аддрес</a>
        {% endif %}
        <a class="p-2 text-dark" href="{% url 'basket' request.user.id %}">Корзина</a>
    </nav>
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Выйти</a>
  {% endif %}
</div>

{#    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">#}
{#      <h1 class="display-4">Pricing</h1>#}
{#      <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>#}
{#    </div>#}
{#    {% if request.user.avatar %}#}
{#        <p><img src="{{request.user.avatar.path}}"></p>#}
{#    {% else %}#}
{#       <p></p>#}
{#{% endif %}#}
{#    <p>Hello, {{ request.user.first_name }} | <a href="{% url 'logout' %}">Logout</a> </p>#}
{#{% else %}#}
{#    <p><a href="{% url 'registration' %}">Registration</a> | <a href="{%  url 'login' %}">Login</a></p>#}
{#{% endif %}#}