<style>
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
</style>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  {% if request.user.is_authenticated%}
      {% if request.user.avatar.url is not None %}
          <img src="{{ request.user.avatar.url }}" class="rounded-circle my-0 mr-md-3" alt="Avatar" width="50" height="50">
      {% endif %}
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Hello, {{ request.user.shop.shop_name }}</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
    {% if request.user.shop.shop_name %}
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="{% url 'product_create' request.user.pk %}">Добавить товар</a>
        <a class="p-2 text-dark" href="{% url 'shop_products_list' %}">Мои товары</a>
        <a class="p-2 text-dark" href="{% url 'order_list' request.user.pk %}">Заказы</a>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'shop_update' request.user.pk %}">Создать магазин</a>
    {% endif %}
        <a class="p-2 text-dark" href="{% url 'profile_update' request.user.pk %}">Редактировать директора</a>
        {% if request.user.address is not none%}
            <a class="p-2 text-dark" href="{% url 'address_update' request.user.address.pk %}">Редактировать аддрес</a>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'address_create' request.user.pk%}">Добавить аддрес</a>
        {% endif %}
    </nav>
    <a class="btn btn-outline-primary" href="{% url 'logout' %}">Выйти</a>
  {% endif %}
</div>