{%  extends 'base.html' %}
{% block content %}
    <h1>Django-market</h1>
    <p>Сайт на котором люди могут регестрировать свой магазин и выставлять товары на продажу, а покупатели могут их купить.</p>
{% endblock content %}
