{% for post in posts %}
    {% if post.reply_to.id == null %}
        <p id="post{{ post.id }}"><i>posted on </i>{{ post.published_date }}</p>
        <p>
            <a href="{% url 'show_thread' id=post.id %}">{{ post.id }} : {{ post.text }}</a>
        </p>
{#        <p>#}
{#            {% for item in posts.order_by__published_date %}#}
{#                <p>{{ item }}</p>#}
{#            {% endfor %}#}
{#        </p>#}
        <br/>
        <hr/>
    {% endif %}
{% endfor %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add thread">
</form>