{#<a href="{% url 'thread_index' %}">На главную</a>#}
{% for post in object_list %}
    <p id="post{{ post.id }}"><i>posted on </i>{{ post.published_date }}</p>
    {% if post.reply_to.id %}
        <p>
            <a href="#post{{ post.reply_to.id }}">&gt;&gt;&gt;{{ post.reply_to.id }}</a>
        </p>
    {% endif %}
    <p>{{ post.id }}: {{ post.text }}</p>
{#    <form action="/reply/{{ post.id }}/" method="GET">#}
{#        <input id="{{ post.id }}" type="hidden" name="id" value="{{ post.id }}">#}
{#        <button>reply</button>#}
{#    </form>#}
    <a href="/update/{{ post.id }}">Update</a>
    <a href="/delete/{{ post.id }}">Delete</a>

    <p>
        <b>
            {% for r in post.replies.all %}
            <a href="#post{{ r.id }}">&gt;&gt;&gt;{{ r.id }}</a>
            &nbsp;
            {% endfor %}
        </b>
    </p>
    <hr/>
{% endfor%}
<a href="/create">Create new post</a>

{#<form action="/add/" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit" value="submit">#}
{#</form>#}
