{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            <p>Опубликовано: {{ post.published_date }}</p>
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <a href="{% url 'comment_add' pk=post.pk %}">Add comment</a>
    </div>
{% endfor %}
{% endblock content %}
