{% extends 'base.html' %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Вы уверены что хотите удалить этот товар?</p>
        {{ form.as_p }}
        <input type="submit" value="Delete">
    </form>
{% endblock %}