{% extends 'base.html' %}
{% block content %}
{% for product in object_list %}
    <h2 class="display-4">{{ product.name }}</h2>
    <p><small>{{ product.description }}</small></p>
    <p><strong>Категория: {{ product.category }}</strong></p>
    <p><u>Продавец: {{ product.shop.shop_name }}</u></p>
    <h1>Цена: ₽{{ product.price }}</h1>
    <br>
        <div id="carouselExampleControls" class="carousel slide w-50" data-ride="carousel">
          <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ product.images.first.image.url }}" alt="{{ image.image.name }}">
                    </div>
              {% for image in product.images.all|slice:"1:" %}
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ image.image.url}}" alt="{{ image.image.name }}">
                    </div>
              {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    <form action="add_to_basket/{{ product.id }}/to/{{ request.user.id }}" method="post">{% csrf_token %}
        <input type="number" name="count" value="1" min="1" max="{{ product.quantity }}">
        <button type="submit" class="btn btn-success">Добавить в корзину</button>
    </form>
    <hr>
    <th></th>
{% endfor %}
{% endblock %}