{% extends 'base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Категория</th>
      <th scope="col">Доступность</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
  {% for product in object_list %}
    <tr>
      <th scope="row">{{ product.name }}</th>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.is_available }}</td>
      <td><a href="{% url 'product_update' product.pk %}">Изменить</a> <br> <a href="{% url 'product_delete' product.pk %}">Удалить</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{#{% for product in object_list %}#}
{#    <p>{{ product.name }}</p>#}
{#    <p>{{ product.shop.shop_name }}</p>#}
{#    <p>{{ product.is_available }}</p>#}
{#{% endfor %}#}
{% endblock %}