<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<header>
    {% if is_authenticated %}
        <a href="/">Все посты</a>
        <a href="/subscriptions">Мои подписки</a>
        <a href="/me">Мой профиль</a>
        <a href="/logout">Выход</a>
    {% else %}
        <a href="/">Все посты</a>
        <a href="/registration">Регистрация</a>
        <a href="/login">Вход</a>
    {% endif %}
</header>
    {% block content %}
    {% endblock %}
<footer>
      <p>©Twitter</p>
</footer>
</body>
</html>