{% extends 'blog/base.html' %}
{% block content %}
    <h1>All posts</h1>
    {% if is_authenticated %}
    <br/>
    <hr/>
    <h3>Add new post</h3>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add post">
    {% endif %}
</form>
    <br/>
    <hr/>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }}</p>
        <i><a href="{% url 'show_profile' user_id=post.person.user.id %}">{{ post.person.user.username }}</a></i>
        <br/>
        <b>{{ post.created_date }}</b>
        <br/>
        <hr/>
    {% endfor %}
{% endblock %}