{% extends 'blog/base.html' %}
{% block content %}
<h1>{{ username }}'s posts</h1>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.text }}</p>
        <br/>
        <b>{{ post.created_date }}</b>
        <br/>
        <hr/>
    {% endfor %}
{% endblock %}