{% extends 'blog/base.html' %}
{% block content %}
    <h1>Profile</h1>
    <p>{{ username }}</p>
    <p>{{ email }}</p>
    {% if form is not None and my_id != user_id and on_follow is None %}
    <form method="POST">
    {% csrf_token %}
        <button type="submit">Подписаться</button>
    </form>
    {% endif %}
    <br/>
{% endblock %}