{% extends 'blog/base.html' %}
{% block content %}
    <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегестрироваться</button>
</form>
{% endblock %}
