{% extends 'blog/base.html' %}
{% block content %}
    <h1>Subscriptions</h1>
    {% for item in following %}
        <a href="{% url 'show_profile' user_id=item.user.id %}"><p>{{ item.user.username }}</p></a>
        <a href="{% url 'show_user_posts' user_id=item.user.id %}"><p>Посмотреть посты {{ item.user.username }}</p></a>
        <form action="{% url 'unsubscribe' user_id=item.user.id %}" method="POST">
        {% csrf_token %}
            <button type="submit">Отписаться</button>
        </form>
        <hr/>
    {% endfor %}
{% endblock %}