{% extends 'base.html' %}
{% block title %}{{ article.article_title }}{% endblock %}
{% block content %}
    <div class="detail">
        <h2>{{ article.article_title }}</h2>
        <i>{{ article.published_date }}</i>
        <p>{{ article.article_text }}</p>
    </div>
    {% for article in articles %}
        {{ article.article_text }}
    {% endfor %}
    <hr/>
    <form action="{% url 'articles:add_comment' article.id %}" method="post">
    {%  csrf_token %}
        <input type="text" required placeholder="Enter your name" name="name">
        <br>
        <textarea type="text" required placeholder="Enter your comment" name="text"></textarea>
        <br>
        <button type="submit">Add comment</button>
    </form>
{%  endblock %}