{%  extends 'base.html' %}
{% block title %}Last articles{% endblock %}

{% block content %}
    {% if latest_articles_list %}
        {% for article in latest_articles_list %}
            <div class="article">
                <i>{{ article.published_date }}</i>
            <a href="{% url 'articles:detail' article.id %}"><h3>{{ article.article_title }}</h3></a>
            <p>{{ article.article_text }}</p>
            <hr>
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}