{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>Цена всех товаров корзине: {{ basket_total_price }}</h3>
    <br>
    <hr>
{% for product in object_list %}
    <h4 class="display-6">Название: {{ product.product.name }}</h4>
    <p><strong>Количество: {{ product.quantity }}</strong></p>
    <p><u>Итоговая цена товара:  ₽{{ product.get_total_price }}</u></p>
{#    {{ product.get_total_price }}#}
{#    <br>#}
    <a href="{% url 'delete_product_from_basket' product.id %}">Удалить из корзины</a>
    <hr>
{% endfor %}
    {% if object_list.count != 0 and object_list is not None and request.user.address is not None %}
        <a href="{% url 'create_order' %}">Сделать заказ</a>
    {% elif request.user.address is None %}
        <a href="{% url 'address_create' request.user.id %}">Добавить адрес</a>
    {% endif %}
{% endblock %}